/*------------------------------------------------Importações*/
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

/*------------------------------------------------Estilizações Gerais*/
*, body, html, ul, li, a, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: SUSE;
}

a {
    color: var(--branco);
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    --ciano:       #6ee2ff;
    --azul-medio:  #15202c;
    --azul-escuro: #081825;
    --branco:      #ffffff;
    --cinza-medio: #ffffff28;
    --laranja:     #F97B22;
    --verde:       #25d366;
    --preto:       #000000;
}


body {
    display: flex;
    flex-direction: column;
    font-family: SUSE;
    color: var(--branco);
    background-color: var(--azul-medio);
    min-height: 100dvh;
    
}



.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--cinza-medio);
    color: var(--branco);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.scroll-to-top:hover {
    opacity: 1;
    transform: scale(1.1);
}